.ProfileGeneral {
    padding: 10px;
    width : 80%;
    margin: 0 auto;
}

.ProfileGeneral h1 {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
    .ProfileGeneral {
        width : 100%;
    }
}