
.slick-prev:before {
    color: black;
}

.slick-next:before {
    color: black;
}

.slick-track {
    position: relative;
    top: 0;
    left: 2px;
    right: 2px;
    display: block;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

.slick-track div{ 
    margin: 5px auto;
}   
