.Dropdown {
    display: block;
    padding: 0 1.0rem;
    text-transform: capitalize;
    border-radius: 2px;
    height: 45px;
    cursor: pointer;    
}

li .Dropdown:hover {  
    background-color: #eee;
    color: #0f7c90;
    font-weight: 400;
}

.AlignIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.IconLeft {
    padding-left : 3px;
}

.IconRight {
    padding-right : 3px;
}

.dropdownItems {
    position: absolute;
    display: block;
    margin-top: 4px;
    background-color: white;
    min-width: 14rem;
    min-height: 100px;
    padding: 0;
    border-bottom-left-radius: 2px;
    border-radius: 2px;
    border-top: 1px solid #e8e9eb;
    box-shadow: 0 2px 8px rgb(20 23 28 / 25%);
    z-index: 1550;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 600ms;
}

.Right {
    right: 0;
}

.dropdownItems li a {
    display: block;
    color: #222;
    padding: 8px 30px; 
    text-transform: capitalize;
}

.dropdownItems li a:hover {
    color: #0f7c90;
    font-weight: 400;
}

a.Dropdown:hover + ul.dropdownItems { 
    transform: translateY(0px);
    opacity: 1;
    visibility: visible ;
}

.dropdownItems:hover {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible ; 
}