.ProductCard {
    float: left;
    font-size: 0.9rem;
    width: 200px;    
    border-radius: 2px;
    background-color:#fff;
    height: 300px;
    text-align: left;
    cursor: pointer;
    margin: 5px auto;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);   
    padding: 10px; 
    color: black;    
    padding-bottom: 5px;
}

.ProductCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}rgba(54, 27, 27, 0.25)

.ProductImage {     
    margin-bottom: 1px;
    margin: 0 auto;
}

.ProductImage img {
    display: block;
    width: 150px;
    height: 150px; 
    margin: 0 auto;
}

.ProductName {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 400;
}

.ProductPrice {
    margin-bottom: 4px; 
}

.MrpPrice {
    display: inline-block;
    margin-left: 8px;
    margin-right: 15px;
}

.ProductQuantity {
    margin-bottom: 10px;
}

.Invalid {
    text-decoration: line-through;
}

.DiscountPrice {
    font-weight: bold;
    color: #c1272d;
}

.stockOut {
    font-weight: 400;
    color: #c1272d;
    border: 1px solid #c1272d;
    padding: 8px;
    text-align: center;
}

@media only screen and (max-width: 1260px) {
    .ProductCard {
        width: 200px;
    }
}

@media only screen and (max-width: 1210px) {
    .ProductCard {
        width: 230px;
    }
}

@media only screen and (max-width: 1070px) {
    .ProductCard {
        width: 200px;
    }
}

@media only screen and (max-width: 950px) {
    .ProductCard {
        width: 180px;
    }
}

@media only screen and (max-width: 890px) {
    .ProductCard {
        width: 230px;
    }
}

@media only screen and (max-width: 800px) {
    .ProductCard {
        width: 190px;
    }
}

@media only screen and (max-width: 720px) {
    .ProductCard {
        float:none;
        display: inline-block;
        width: 190px;
        margin: 8px auto;
    }
}

@media only screen and (max-width: 692px) {
    .ProductCard {
        width: 180px;
        margin: 8px auto;
    }
}

@media only screen and (max-width: 675px) {
    .ProductCard {
        width: 230px;
        margin: 8px auto;
    }
}

@media only screen and (max-width: 656px) {
    .ProductCard {
        width: 230px;
        margin: 8px auto;
    }
}