.ProductsSection {
    display: block;
    width: 75%;
    margin-left: 1%;
    border-radius: 4px;
    padding: 13px 0 12px;
    background-color: #fff;   
    box-shadow: 0 1px 3px -1px rgb(0 0 0 / 40%);
    padding: 10px;  
    min-height: 100vh;
}

.ProductHeading {
    font-size: 1.3rem;
    border-bottom: 1px solid #eee;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.productList {
    float: left;    
}

@media only screen and (max-width: 675px) {
    .ProductsSection {
        width: 100%;
        text-align: center;
    }   
}

@media only screen and (max-width: 540px) {
    .ProductsSection {
        margin-top: 30px;
    }   
}