.Toolbar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 4px 10px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.IconContainer {
    width: 140px;
}

nav {
    width: 90%;
    padding-left: 50px;
}
