.ProductDetailSection {
    position: relative;
    top: 0;
    margin-left: 2px;
    width: 65%;
    padding-left: 70px;
    float: right;
    text-align: justify;
    margin-bottom: 30px;
}

.ProductDetailSection h1 {
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 15px;
    
}

.CrossText {
    text-decoration: line-through;
}

.PriceDetails p {
    display: inline-block;
}

.MrpText {
    margin-right: 20px;
}

.DiscountClass {
    color: #c1272d;
    font-weight: 500;
}

.PropductButton {
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding: .8rem 2rem;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    background-color: #0f7c90;
    transition: all 250ms ease;
    width: 300px;
    height: 42px;
}

.PropductButton:hover {
    box-shadow: 0 2px 8px rgb(20 23 28 / 25%);
}

.GeneralInfoSection {
    margin-top: 50px;   
}

.GeneralInfoHeading{
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: 500;      
}

.GeneralInfoSection ul li{
    list-style: none;
    padding: 5px;text-transform: capitalize;
}

.InfoValues {
    display: inline-block;
    width: 60%;
    text-align:justify;
}