.Button {
    display: block;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px 35px;
    min-width: 98px;
    color: #0f7c90;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 auto;
}

.Button:hover {
    background-color: #0f7c90;
    color: #fff;
}