.BackScreen {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-property: opacity;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0.4;
    background-color: rgba(0,0,0,.6);
    z-index: 100;
    transition: opacity 0.6s ease-out;
}

.open {
    display: block;
    opacity: 1;
}

.close {

}