.Heading {
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 10px;
}

.Filter {
    margin-bottom: 40px;
}

.filterField {
    text-indent: 8px;    
}

.filterField input {
    cursor: pointer;
}

.filterField label {
    text-transform: capitalize;
    cursor: pointer;
    font-size: 0.9rem;
    padding-left: 4px;
}