.Heading {
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 10px;
}

.Filter {
    margin-bottom: 35px;
}

.filterField {
    text-indent: 8px;
}

.filterField label {
    font-size: 0.9rem;
    padding-left: 4px;
}