.SectionHeading {
    font-weight: 300;
    font-size: 2.6rem;
    word-spacing: 1.6px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 40px;
    color: #666;
}

.SectionHeading::after {
    margin: 0 auto;
    content: " ";
    display: block;
    background-color: #0f7c90;
    position: relative;
    width: 220px;
    height: 2px;
    margin-top: 20px;
}

@media only screen and (max-width: 900px) {
    .SectionHeading {        
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 1000px) {
    .SectionHeading {        
        font-size: 2.8rem;        
    }
}

@media only screen and (max-width: 700px) {
    .SectionHeading {        
        font-size: 2.0rem; 
    }    

    .SectionHeading::after {
        width: 30%;
    }
}

@media only screen and (max-width: 360px) {
    .SectionHeading {        
        font-size: 1.3rem; 
    }    

    .SectionHeading::after {
        width: 30%;
    }
}