.sideBar {
    position:fixed;
    display: block;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 300px;
    height: 100vh;
    z-index: 200;
    background-color: #fff;
    border-radius: 1px;
    border-left: 2px solid #222;
    transform: translateX(-340px);
    transition: transform 0.6s ease-out;
}

.sideBar nav {
    display: block;
    width: 100%;
    padding: 0px;    
}

.openSideBar {
    transform: translateX(0);
}

@media only screen and (min-width:915px) {
    .sideBar {
        display: none;
    }
}

@media only screen and (max-width:900px) {
    .sideBar {
        width: 85%;    
    }
}

@media only screen and (max-width:700px) {
    .sideBar {
        width: 85%;
    }
}


